[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=USB Disk Formatter
Name[de_DE]=USB Formatter Tool
Name[es_AR]=Formateador USB
Name[fr_FR]=Formatage USB
Name[it_IT]=USB Formatter
Name[ja_JP]=USB フォーマット
Name[pl_PL]=Formatowanie dysku USB
Name[pt_BR]=Formatador USB
Name[pt_PT]=Formatter USB
Name[sv_SE]=USB-formaterare
Comment=Format USB disk
Comment[de_DE]=Formatiert USB-Speicher
Comment[es_AR]=Formatea un disco USB
Comment[fr_FR]=Formater un disque USB
Comment[it_IT]=Formatta penne USB
Comment[ja_JP]=USB ディスクのフォーマット
Comment[pl_PL]=Formatowanie dysku USB
Comment[pt_BR]=Formatar drivers USBs
Comment[pt_PT]=Formatar driver USB
Comment[sv_SE]=Formaterar USB-enhet
Exec=remsu /usr/bin/sparky-usb-formatter
Icon=usb-creator
Terminal=false
MultipleArgs=false
Type=Application
Categories=Applications;System
