[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=USB Disk Formatter
Name[de]=USB Formatter Tool
Name[es_AR]=Formateador USB
Name[es_ES]=Formateador de discos USB
Name[fr]=Formatage USB
Name[id]=Pemformat USB
Name[it]=USB Formatter
Name[ja]=USB フォーマットツール
Name[pl]=Formatowanie dysku USB
Name[pt_BR]=Formatador USB
Name[pt_PT]=Formatter USB
Name[ru]=USB Formatter
Name[sv]=USB-formaterare
Comment=Format USB disk
Comment[de]=Formatiert USB-Speicher
Comment[el]=Φορμάτ δίσκου USB
Comment[es_AR]=Formatea un disco USB
Comment[es_ES]=Formatea discos USB
Comment[fr]=Formater un disque USB
Comment[id]=Format USB flashdisk
Comment[it]=Formatta penne USB
Comment[ja]=USB ディスク（メモリスティック）のフォーマット
Comment[pl]=Formatowanie dysku USB
Comment[pt_BR]=Formatar drivers USBs
Comment[pt_PT]=Formatar driver USB
Comment[ru]=Форматирование USB-накопителей
Comment[sv]=Formaterar USB-enhet
Exec=remsu /usr/bin/sparky-usb-formatter
Icon=usb-creator
Terminal=false
MultipleArgs=false
Type=Application
Categories=Applications;System
